/* COLORS */

/* Brand Colors */
// $brand-110: #10527F;
// $brand: #0E72B5;
// $brand-50: #E2F3FE;

// $primary-110: #111A26;
// $primary: #273344;
// $primary-70: #4F5E72; // Pas présent dans les palettes mais demandée sur le bouton primary-hover
// $primary-50: #A6B1BF;
// $primary-20: #EDF1F7;

// $premium-110: #FDBC3C; // Pas présent dans les palettes mais demandée sur le bouton premium
// $premium: #F5C870;
// $premium-50: #FFD687;
// $premium-20: #FFF4DF;

// /* Neutral Colors */
// $white: #FFF;
// $grey: #C4C4C4;
// $transparent: transparent;

// /* Utility Colors */
// $success: #1D8145;
// $success-70: #4F8A10;
// $warning: #D0021B;
// $warning-50: #FFC5CC;

// /* Theme Colors */
// $breaking-news: #E32C00;
// $om: #5AC0D4;
// $carnet: #E26063;
// $ads: #EFDBDF;
// $rabais-choc: #E22C16;

/* 
* TYPOGRAPHY
*
* 1) Utilisée pour le contenu et le texte du body
* 2) Utilisé pour le titrage d'une page ou d'un component
*/

/* Font families */
$roboto: $fig-typography-families-roboto;

/* Font sizes */
$fs-xs: $fig-typography-sizes-xs;
$fs-s: $fig-typography-sizes-s;

/* Font weights */
$fw-light: $fig-typography-weights-light;
$fw-normal: $fig-typography-weights-normal;
$fw-medium: $fig-typography-weights-medium;
$fw-semibold: $fig-typography-weights-semibold;
$fw-bold: $fig-typography-weights-bold;
$fw-extrabold: $fig-typography-weights-extrabold;
$fw-black: $fig-typography-weights-black;

/* BREAKPOINTS */
$breakpoints: (
  sm: $fig-breakpoint-sm,
  md: $fig-breakpoint-md,
  lg: $fig-breakpoint-lg,
  xl: $fig-breakpoint-xl,
);

/* SPACING */
$spacing: (
  xxxs: $fig-spacing-xxxs,
  xxs: $fig-spacing-xxs,
  xs: $fig-spacing-xs,
  sm: $fig-spacing-sm,
  md: $fig-spacing-md,
  lg: $fig-spacing-lg,
  xl: $fig-spacing-xl,
  xxl: $fig-spacing-xxl,
  xxxl: $fig-spacing-xxxl,
) !default;
