@import 'base/router';

.fig-button__container {
  cursor: pointer;
  display: flex;
  background: $fig-button-primary-bg-base;
  border: 1px solid $fig-button-primary-border-base;
  color: $fig-button-primary-color-base;

  &:hover {
    background: $fig-button-primary-bg-hover;
    border: 1px solid $fig-button-primary-border-hover;
    color: $fig-button-primary-color-hover;
  }

  &:disabled {
    cursor: not-allowed;
    background: $fig-button-primary-bg-disabled;
    border: 1px solid $fig-button-primary-border-disabled;
    color: $fig-button-primary-color-disabled;
  }

  &--secondary {
    background: $fig-button-secondary-bg-base;
    border: 1px solid $fig-button-secondary-border-base;
    color: $fig-button-secondary-color-base;

    &:hover {
      background: $fig-button-secondary-bg-hover;
      border: 1px solid $fig-button-secondary-border-hover;
      color: $fig-button-secondary-color-hover;
    }

    &:disabled {
      background: $fig-button-secondary-bg-disabled;
      border: 1px solid $fig-button-secondary-border-disabled;
      color: $fig-button-secondary-color-disabled;
    }
  }

  &--tertiary {
    background: $fig-button-tertiary-bg-base;
    border: 1px solid $fig-button-tertiary-border-base;
    color: $fig-button-tertiary-color-base;

    &:hover {
      background: $fig-button-tertiary-bg-hover;
      border: 1px solid $fig-button-tertiary-border-hover;
      color: $fig-button-tertiary-color-hover;
    }

    &:disabled {
      background: $fig-button-tertiary-bg-disabled;
      border: 1px solid $fig-button-tertiary-border-disabled;
      color: $fig-button-tertiary-color-disabled;
    }
  }

  &--premium {
    background: $fig-button-premium-bg-base;
    border: 1px solid $fig-button-premium-border-base;
    color: $fig-button-premium-color-base;

    &:hover {
      background: $fig-button-premium-bg-hover;
      border: 1px solid $fig-button-premium-border-hover;
      color: $fig-button-premium-color-hover;
    }

    &:disabled {
      background: $fig-button-premium-bg-disabled;
      border: 1px solid $fig-button-premium-border-disabled;
      color: $fig-button-premium-color-disabled;
    }
  }
}
